python-dotenv
langchain
langgraph
langchain-core

langchain-groq
langchain-google-genai

google-generativeai

openai

yfinance
pandas
numpy

plotly
matplotlib

streamlit

requests

beautifulsoup4

ta

pydantic

loguru

jupyter
ipykernel